# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# VS Code
.vscode/

# Mac / Linux
.DS_Store

# Windows
Thumbs.db

# Git
.git/
